<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <p><font>by alux : version beta</font></p>
  <h2>¡URL SHORTENER!</h2>

  <form id='form_url' action='/urls' method="post">
    URL: <input id="input" type="text" name="user_word" size="60" placeholder="                     just paste your boring & looooooooooong url..." required autofocus>
  <input id="submit" type="image" src="https://iconverticons.com/img/logo.png" alt="Submit" width="25" height="25">
  </form>

</body>
</html>