URL:
<br>
<textarea rows="1" cols="60" type="text" name="long_url" placeholder="just paste your boring & looooooooooong url..."></textarea>
<br>
<br>
<textarea rows="1" cols="30" type="text" name="short_url" placeholder="here your short url">
<%= @short %></textarea><br>
<br>
<button formmethod="post" formaction="/urls" type="submit" name="Submit">create a shorter url</button>